@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.Toastify__toast {
  font-family: inherit;
  border-radius: 8px;
}

.Toastify__toast--success {
  background: #399A4B; /* Your primary color */
}

.Toastify__toast--error {
  background: #EF4444; /* Standard red for errors */
}

.Toastify__toast--info {
  background: #8DD783; /* Standard blue for info */
}

.Toastify__toast--warning {
  background: #F59E0B; /* Standard yellow for warnings */
}

.Toastify__progress-bar {
  background: rgba(255, 255, 255, 0.5);
}